<div class="banner-pic">
  <div class="blank_space">
  </div>
  <h2>Keep Backpacking</h2>
  <div class="select-area">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, architecto.
    <form action="dd"></form>
    button_to
  </div>

</div>
