<%= form_for @booking, :url => bags_path do |b| %>


  <%= text_area :destination, :class=> "form-control booking-input-area", placeholder: :"你想去哪裡？" %>

  <%= select_tag 'bag_id', options_for_select(@bags.collect{ |b| [b.location, b.location] }), :class=> "location-select", :placeholder => "取包地點？" %>

    <input type="text" data-provide='datepicker' placeholder='取包日期'>
    <input type="text" data-provide='datepicker' placeholder='還包日期'>


      <button id="submit_location" type="submit" class="searchbar__submit btn btn-primary btn-large" data-reactid=".1.0.2">搜索</button>
<% end %>