/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";
@import 'bootstrap-datepicker';

.navbar{
  background: rgba(245, 250, 255, 0);
  margin-bottom:0px;
  /*border: 0px;*/
  position: relative;
  z-index: 2;
}
.navbar-default{
  color:black;
}
.banner-pic{
  background: image-url("index_banner.jpg") no-repeat center center;
  /*background: image-url("salar-de-uyuni-bolivia.jpg") no-repeat center center;*/
  background-size:cover;
  /*background-attachment: fixed;*/
  height: 80vh;
  width: 100% ;
  position: relative;
}
.banner-pic > .blank_space{
  padding-top:100px;
  padding-bottom: 100px;
}
.banner-pic > h1{
  color:white;
  text-align: center;
  position: relative;
}
.datepicker{
}
.searchbar_submit{
  height: 46px;
}
.booking_draft{
  line-height:100px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.form_draft{
  text-align: center;
  line-height:100px;
}
.booking_input_area, #booking_pickup_date, #booking_return_date {
  line-height:40px;
}
#booking_get_bag_location{
  /*font-size: 70px;*/
}
.guest_schedule_header{
  background-color: yellow;
  line-height: 50px;
  margin-bottom: 8px;
}
.guest_schedule_header > span{
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
.guest_schedule_info{
  background-color: #f2f2f2;
  padding:10px 8px;
}
.guest_schedule_info > label{
  font-weight: bold;
  margin-bottom: 0px;
}
.guest_schedule_info > p{
  margin:0px;
}
.bag_select_area{
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 1px #c0c0c0;
}
.bag_header{
  font-weight: bold;
  background-color: #f2f2f2;
  line-height: 40px;
  padding-left: 15px;
  margin-bottom: 15px;
}
.selected_bag_header{
  background-color: yellow;
  line-height: 50px;
  margin-bottom: 8px;
}
.selected_bag_header > span{
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
.selected_bag_info{
  background-color: #f2f2f2;
  padding:10px 8px;
}
.selected_bag_info > label{
  font-weight: bold;
  margin-bottom: 0px;
}
.selected_bag_info > p{
  margin:0px;
}
.warning_note{
  padding: 15px;
}
.warning_note_p{
  border:1px solid blue;
  border-left:5px solid blue;
  border-radius: 5px;
  padding:10px;
}
.guest_information_header{
  background-color: yellow;
  line-height: 50px;
  margin-bottom: 8px;
}
.guest_information_header > span{
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
.backpacker_pic{
  padding:120px 0px 60px;
}
.youtube_video, .oooo{
  padding: 40px 0 60px;
}
img{
  border-radius: 5px;
}
.pic_bag1,.pic_bag3,.pic_bag5,.pic_bag7,.pic_bag9{
  margin-bottom:20px;
  background-size:cover;
}
.user_feel{
  background: image-url("bg6.jpg") no-repeat center center;
  padding: 60px 0 60px;
}
.user_feel_title{
  text-align: center;
  color:white;
}
.user_feel_p{
  padding:0px 70px;
  line-height:40px;
  font-size:18px;
  color:white;
}
.a_p{
  background-color: #f7f6f4;
  padding:40px 0px 60px;

}

.about_plan{
  text-align:center;
  margin-bottom:40px;
}
.about_plan_title{
  padding-top: 30px;
  font-size: 36px;
}
.about_plan_p{
  font-size: 20px;
}
.youtube_media{
  width:560px;
  margin:0 auto;
}
.youtube_title {
  text-align: center;
  margin-bottom: 20px;
}
.oooo{
  background-color: #f7f6f4;
}
.owner{
  text-align: center;
  margin-bottom: 20px;
}
.founder_pic{
  border-radius: 99em;
}
.owner_pic2, .owner_pic1{
  margin:0 auto;
  width: 278px;
}
.founder_name{
  text-align: center;
  color:#498de5;
}
.founder_title{
  text-align: center;
  color:#8b9516;
}
.founder_background{
  display: table;
  margin: 0 auto;
}
.founder_background ul{
  display: inline-block;
}
.sign_in_page{
  background-color:#eeede8;
}
.mark_log_in{
  margin-left:15px;
  margin:70px 0 40px 0;
  text-align:center;
}
.facebook_login > .btn{
  padding:10px 12px;
  width:100%;
}
.btn_login_fb{
  background-color: #3b5998;
  color:#fff;
  font-size:18px;
  border-radius:4px;
  margin-bottom: 8px;
}
.sign_in_form{
  margin:0px auto;
  max-width: 540px;
  padding: 50px 80px;
  background-color:white;
  margin-bottom: 90px;
}
.sign_in_footer{
  text-align: center;
  padding:20px 0px;
}
.trrrryyyyy{
  border: 1px solid #00ff00;
  -webkit-filter:blur(3px);
}
